<!-- <div class="login-container">
  <form
    class="wrapper"
    (submit)="register ? signUp($event) : signIn($event)"
    [formGroup]="form"
  >
    <h3>{{ register ? "SIGN-UP" : "SIGN-IN" }}</h3>

    <input
      formControlName="username"
      type="text"
      class="username"
      placeholder="Username"
    />
    <input
      formControlName="password"
      type="password"
      class="password"
      placeholder="Password"
    />
    <button [class.inactive]="!form.valid" type="submit">
      {{ register ? "Sign-Up" : "Sign-In" }}
    </button>
    <button class="clear" type="button" (click)="register = !register">
      {{ register ? "Already have an account?" : "Don't have an account?" }}
    </button>
  </form>
  
</div>

 -->

 <div class="login-container">
  <form
    class="wrapper"
    (submit)="register ? signUp($event) : signIn($event)"
    [formGroup]="form"
  >
    <h3>{{ register ? 'SIGN-UP' : 'SIGN-IN' }}</h3>

    <!-- Error message display -->
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <input
      formControlName="username"
      type="text"
      class="username"
      placeholder="Username"
    />
    <input
      formControlName="password"
      type="password"
      class="password"
      placeholder="Password"
    />
    <button [class.inactive]="!form.valid" type="submit">
      {{ register ? 'Sign-Up' : 'Sign-In' }}
    </button>
    <button class="clear" type="button" (click)="register = !register">
      {{ register ? 'Already have an account?' : "Don't have an account?" }}
    </button>
  </form>

  <div class="cookie-alert">
    <p>Please allow third-party cookies to ensure this app works correctly.</p>
  </div>
</div>
