name: Deploy Angular Application

on:
  push: 
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Login to docker hub
        run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}  

      - name: Build docker image
        run: docker build -t kishanthorat111/cookie-client-frontend .

      - name: Publish image to docker hub
        run: docker push kishanthorat111/cookie-client-frontend:latest
        
  deploy:
    needs: build
    runs-on: self-hosted
    steps:
      - name: Pull image from docker hub
        run: docker pull kishanthorat111/cookie-client-frontend:latest

      - name: Delete old container
        run: docker rm -f cookie-client-frontend-container  
        
      - name: Run docker container
        run: docker run -d -p 443:443 --name cookie-client-frontend-container kishanthorat111/cookie-client-frontend